{% extends "../../base.html" %}

{% block content %}
<!--begin::App Content Header-->
            <div class="app-content-header">
            <!--begin::Container-->
            <div class="container-fluid">
                <!--begin::Row-->
                <div class="row">
                <div class="col-sm-6"><h3 class="mb-0">Katman Panel</h3></div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-end">
                    <li class="breadcrumb-item"><a href="#">Sayfa Tipi</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Listele</li>
                    </ol>
                </div>
                </div>
                <!--end::Row-->
            </div>
            <!--end::Container-->
            </div>
            <!--end::App Content Header-->


            <!--begin::App Content-->
            <div class="app-content">
            <!--begin::Container-->
            <div class="container-fluid">
                <a href="{% url 'pageTypeCreate' %}" class="btn btn-success mb-2">Sayfa Tipi Ekle</a>
                                <!-- /.card -->
                <div class="card mb-4">
                  <div class="card-header">
                    <h3 class="card-title">Sayfa Tipleri</h3>
                  </div>
                  
                  <!-- /.card-header -->
                  <div class="card-body p-0">
                    
                    <table class="table table-striped">
                      <thead>
                        <tr>
                          <th>Sıralama</th>
                          <th>Sayfa Tipi Adı</th>
                          <th>İşlemler</th>
                        </tr>
                      </thead>
                      <tbody>
                        {% for pageType in pageTypes %}
                            <tr class="align-middle">
                                <td>{{ pageType.id }}</td>
                                <td>{{pageType.name}}</td>
                                <td>
                                    <a href="{% url 'pageTypeUpdate' pageType.id %}" class="btn btn-warning"> Güncelle </a>
                                    <a href="{% url 'pageTypeDelete' pageType.id %}" class="btn btn-danger"> Sil </a>
                                </td>
                            </tr>
                        {% endfor %}
                       
                      </tbody>
                    </table>
                  </div>
                  <!-- /.card-body -->
                </div>
                <!-- /.card -->
            </div>
            <!--end::Container-->
            </div>
            <!--end::App Content-->

{% endblock content %}




