{% extends "../../backendBase.html" %}

{% block content %}
<!--begin::App Content Header-->
            <div class="app-content-header">
            <!--begin::Container-->
            <div class="container-fluid">
                <!--begin::Row-->
                <div class="row">
                <div class="col-sm-6"><h3 class="mb-0">Katman Panel</h3></div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-end">
                    <li class="breadcrumb-item"><a href="#">Genel Ayar</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Sil</li>
                    </ol>
                </div>
                </div>
                <!--end::Row-->
            </div>
            <!--end::Container-->
            </div>
            <!--end::App Content Header-->


            <!--begin::App Content-->
            <div class="app-content">
            <!--begin::Container-->
            <div class="container-fluid">
                 <p>
                    <strong>{{ general.name }}</strong> isimli genel ayarı silmek istediğinizden emin misiniz?
                    <form action="{% url 'generalSettingsDelete' general.id %}" method="POST">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-danger">Evet</button>
                        <a href="{% url 'generalSettingsList' %}" class="btn btn-success">Hayır</a>
                    </form>
                </p> 
            </div>
            <!--end::Container-->
            </div>
            <!--end::App Content-->
   

{% endblock content %}