 <footer class="footer">
         <div class="footer__container container grid">
            <a href="#" class="footer__logo">AVENTADOR</a>

            <ul class="footer__links">
               <li>
                  <a href="#" class="footer__link">Privacy & Legal</a>
               </li>

               <li>
                  <a href="#" class="footer__link">Contact</a>
               </li>

               <li>
                  <a href="#" class="footer__link">Locations</a>
               </li>

               <li>
                  <a href="#" class="footer__link">News</a>
               </li>

               <li>
                  <a href="#" class="footer__link">Forums</a>
               </li>
            </ul>


            <div class="footer__social">
               <a href="https://www.facebook.com/" target="_blank" class="footer__social-link">
                  <i class="ri-facebook-circle-line"></i>
               </a>
               <a href="https://www.instagram.com/" target="_blank" class="footer__social-link">
                  <i class="ri-instagram-line"></i>
               </a>
               <a href="https://twitter.com/" target="_blank" class="footer__social-link">
                  <i class="ri-twitter-x-line"></i>
               </a>
            </div>

            <div class="footer__copy">
               &#169; All Rights Reserved By Bedimcode
            </div>
         </div>
      </footer>