{% load static %}
<head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">

      <!--=============== FAVICON ===============-->
      <link rel="shortcut icon" href="{% static 'frontend/assets/img/favicon.png' %}" type="image/x-icon">

      <!--=============== REMIXICONS ===============-->
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/remixicon/4.6.0/remixicon.min.css">

      <!--=============== SWIPER CSS ===============-->
      <link rel="stylesheet" href="{% static 'frontend/assets/css/swiper-bundle.min.css' %}">

      <!--=============== CSS ===============-->
      <link rel="stylesheet" href="{% static 'frontend/assets/css/styles.css' %}">

      <title>AVENTADOR - RENT A CAR</title>
</head>