<!--begin::Sidebar-->
        <aside class="app-sidebar bg-body-secondary shadow" data-bs-theme="dark">
            <!--begin::Sidebar Brand-->
            <div class="sidebar-brand">
            <!--begin::Brand Link-->
            <a href="{% url 'index' %}" class="brand-link">
                <!--begin::Brand Text-->
                <span class="brand-text fw-light">Katman Panel</span>
                <!--end::Brand Text-->
            </a>
            <!--end::Brand Link-->
            </div>
            <!--end::Sidebar Brand-->
            <!--begin::Sidebar Wrapper-->
            <div class="sidebar-wrapper">
            <nav class="mt-2">
                <!--begin::Sidebar Menu-->
                <ul
                class="nav sidebar-menu flex-column"
                data-lte-toggle="treeview"
                role="menu"
                data-accordion="false"
                >
                    <li class="nav-item">
                        <a href="#" class="nav-link">
                            <i class="bi bi-pencil-square"></i>
                            <p>
                                Blog Ayarları
                            </p>
                        </a>
                        <ul class="nav nav-treeview">
                            <li class="nav-item">
                                <a href="{% url 'blogList' %}" class="nav-link">
                                    <i class="bi bi-list-task"></i>
                                    <p>Listele</p>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a href="{% url 'blogCreate' %}" class="nav-link">
                                    <i class="bi bi-plus-circle"></i>
                                    <p>Ekle</p>
                                </a>
                            </li>
                        </ul>
                    </li>

                    <li class="nav-item">
                        <a href="#" class="nav-link">
                            <i class="bi bi-menu-down"></i>
                            <p>
                                Menü Ayarları
                            </p>
                        </a>
                        <ul class="nav nav-treeview">
                            <li class="nav-item">
                                <a href="{% url 'menuList' %}" class="nav-link">
                                    <i class="bi bi-list-task"></i>
                                    <p>Listele</p>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a href="{% url 'menuCreate' %}" class="nav-link">
                                    <i class="bi bi-plus-circle"></i>
                                    <p>Ekle</p>
                                </a>
                            </li>
                        </ul>
                    </li>

                    <li class="nav-item">
                        <a href="#" class="nav-link">
                            <i class="bi bi-file-break"></i>
                            <p>
                                Sayfa Ayarları
                            </p>
                        </a>
                        <ul class="nav nav-treeview">
                            <li class="nav-item">
                                <a href="{% url 'pageList' %}" class="nav-link">
                                    <i class="bi bi-list-task"></i>
                                    <p>Listele</p>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a href="{% url 'pageCreate' %}" class="nav-link">
                                    <i class="bi bi-plus-circle"></i>
                                    <p>Ekle</p>
                                </a>
                            </li>
                        </ul>
                    </li>

                    <li class="nav-item">
                        <a href="#" class="nav-link">
                            <i class="bi bi-filetype-html"></i>
                            <p>
                                Sayfa Tipi Ayarları
                            </p>
                        </a>
                        <ul class="nav nav-treeview">
                            <li class="nav-item">
                                <a href="{% url 'pageTypeList' %}" class="nav-link">
                                    <i class="bi bi-list-task"></i>
                                    <p>Listele</p>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a href="{% url 'pageTypeCreate' %}" class="nav-link">
                                    <i class="bi bi-plus-circle"></i>
                                    <p>Ekle</p>
                                </a>
                            </li>
                        </ul>
                    </li>
                </ul>
                <!--end::Sidebar Menu-->
            </nav>
            </div>
            <!--end::Sidebar Wrapper-->
        </aside>
        <!--end::Sidebar-->